

<div>
	<h2>Users Found</h2>
	<div style="margin-top: 10px;">
		<% @users.each do |user| %>
			<div>
				<span>
					<%= user.full_name %>
					<% if user.rank %>
						<%= $stars[user.rank] %>
					<% end %>
				</span>
				&nbsp;
				<span>
					<%= link_to 'Show', user %>
				</span>
				&nbsp;
				<span>
					<a href="https://teams.microsoft.com/l/chat/0/0?users=<%= user.email %>" target="_blank"><%= image_tag 'contact-teams.png', style: 'max-width: 80px;' %></a>
				</span>
			</div>
			<hr>
		<% end %>
		
		</div>
		<h2>Posts Found</h2>
		<div style="margin-top: 10px;">
			<% @posts.each do |post| %>
				<div>
					<span>
						<%= post.title %>
					</span>
					&nbsp;
					<span>
						<%= link_to 'Show', post %>
					</span>
				</div>
				<hr>
			<% end %>
		</div>
</div>