<p id="notice"><%= notice %></p>

<h3>My Skills</h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Skill</th>
      <th scope="col">Rank</th>
    </tr>
  </thead>

  <tbody>
    <% if @user_skills %>
      <% @user_skills.each do |u_skill| %>
        <tr>
          <th scope="row"><%= u_skill.skill.name %></th>
          <td><%= $stars[u_skill.rank] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= form_with(model: @user_skill) do |form| %>
  <% if @user_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_skill.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user_skill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <div class="form form-input" style="width: 50%;">
      <label>Skill:</label>
      <%= form.select :skill_id, Skill.where.not(:id => UserSkill.select(:skill_id).where(:user_id => current_user.id)).order(:name).collect {|r| [r.name, r.id]}, { :include_blank => true }, { :class => 'form-control'} %>
    </div>

    <div class="form form-input" style="width: 20%;">
      <label>Rank:</label>
      <%= form.number_field :rank, min:0, max:5, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-actions mt-3">
    <button type="submit" class="btn btn-dark">Add Skill</button>
  </div>
<% end %>
