<p id="notice"><%= notice %></p>

<p>
  <h1>
  	<%= @skill.name %>	
  </h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<p>
	<h4>Validate your skills</h4>
	<hr>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Test name</th>
				<th>Description</th>
				<th>Validate</th>
			</tr>
		</thead>
		<tbody>
			<% @skill.tests.each do |test| %>
			    <tr>
			      <td>
			         <%= test.name %>  
			      </td>
			      <td>
			        Skill Rank: <%= test.description %>
			      </td>
			      <td>
			      	<%= link_to 'Validate', test_path(test), class: 'btn btn-sm btn-info' %> 
			      </td>
			      
			    </tr>
			  <% end %>
			
		</tbody>
	</table>
	
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
