<p id="notice"><%= notice %></p>

<p>
  <h1>
  	<%= @test.name %>
  </h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>Total points:</strong>
  <%= @test.total_points %>
</p>

<div id="correct-alert" class="alert alert-success" role="alert">
  Respuesta correcta
</div>
<div id="wrong-alert" class="alert alert-danger" role="alert">
  Respuesta incorrecta
</div>

<div class="card">
  <h5 class="card-header">Git challenge</h5>
  <div class="card-body">
    <h5 id="question-no" class="card-title">Question 1</h5>
    <%= form_with url: "/test/1.js", method: :post, format: :js, html: {id: "uno", class: 'question show'}, local: false do |form| %>
		  <%= form.label :answer, "What is the command to initialize a git repo:" %>
		  <%= form.text_area :answer, class: 'form-control' %>
		  <%= form.submit "Send response", class: 'btn btn-primary' %>
		<% end %>

		<%= form_with url: "/test/2.js", method: :post, format: :js,html: {id: "dos",  class: 'question'}, local: false do |form| %>
		  <%= form.label :answer, "What is the command to view the comit history:" %>
		  <%= form.text_area :answer, class: 'form-control'%>
		  <%= form.submit "Send response", class: 'btn btn-primary' %>
		<% end %>

		<%= form_with url: "/test/3.js", method: :post, format: :js,html: {id: "tres", class: 'question'}, local: false do |form| %>
		  <%= form.label :answer, "How you can merge 2 branches witout generate a new commit for the merge:" %>
		  <%= form.text_area :answer, class: 'form-control' %>
		  <%= form.submit "Send response", class: 'btn btn-primary' %>
		<% end %>

		<div id="correct" class="d-flex align-items-center justify-content-center" style="display: none !important;">
			<%= image_tag 'correct.png', style: 'max-width: 300px;' %>
		</div>

    
  </div>
</div>



<style>
  .question{
    display: none;
  }
  .show{
    display: block;
  }

  #correct-alert{
  	display: none;
  }

  #wrong-alert{
  	display: none;
  }
</style>

<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>

<script>
  let elemsStruct = {
    1: {actual: "uno", next: "dos"},
    2: {actual: "dos", next: "tres"},
    3: {actual: "tres", next: null},
  };

  function right_answer(phase){
    e = document.querySelector(`[id="${elemsStruct[phase].actual}"]`);
    e.classList = "question";
    if(elemsStruct[phase].next == null){
    	$.ajax({
            type: "get",
            url: `/user/${<%= @test.skill.id %>}/skill/${<%= current_user.id %>}/update_rank`,
            data: {},
            success: function (data) {
                
            }
        })
      	e = document.querySelector(`[id="correct"]`);
      	e.style = "";
      //mostrar algo y gurdar en base de datos
      return;
    }else{
      $("#correct-alert").show();
      setTimeout(()=>{
      	$("#correct-alert").hide();
      },  1200);
      
      e = document.querySelector(`[id="${elemsStruct[phase].next}"]`);
      e.classList = "question show";
      e = document.querySelector(`[id="question-no"]`);
      e.textContent = `Question ${phase + 1}`;
    }
    
  }

  function bad_answer(phase){
    $("#wrong-alert").show();
      setTimeout(()=>{
      	$("#wrong-alert").hide();
      },  1200);
  }
</script>

