<p id="notice"><%= notice %></p>

<p>
  <h1>
  	<%= @test.name %>
  </h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>Total points:</strong>
  <%= @test.total_points %>
</p>


<div class="card">
  <h5 class="card-header">Git challenge</h5>
  <div class="card-body">
    <h5 id="question-no" class="card-title">Question 1</h5>
    <%= form_with url: "/test/1.js", method: :post, format: :js, html: {id: "uno", class: 'question show'}, local: false do |form| %>
		  <%= form.label :answer, "What is the command to initialize a git repo:" %>
		  <%= form.text_area :answer, class: 'form-control' %>
		  <%= form.submit "Send response", class: 'btn btn-primary' %>
		<% end %>

		<%= form_with url: "/test/2.js", method: :post, format: :js,html: {id: "dos",  class: 'question'}, local: false do |form| %>
		  <%= form.label :answer, "What is the command to view the comit history:" %>
		  <%= form.text_area :answer, class: 'form-control'%>
		  <%= form.submit "Send response", class: 'btn btn-primary' %>
		<% end %>

		<%= form_with url: "/test/3.js", method: :post, format: :js,html: {id: "tres", class: 'question'}, local: false do |form| %>
		  <%= form.label :answer, "How you can merge 2 branches witout generate a new commit for the merge:" %>
		  <%= form.text_area :answer, class: 'form-control' %>
		  <%= form.submit "Send response", class: 'btn btn-primary' %>
		<% end %>
    
  </div>
</div>



<style>
  .question{
    display: none;
  }
  .show{
    display: block;
  }
</style>

<script>
  let elemsStruct = {
    1: {actual: "uno", next: "dos"},
    2: {actual: "dos", next: "tres"},
    3: {actual: "tres", next: null},
  };

  function right_answer(phase){
    e = document.querySelector(`[id="${elemsStruct[phase].actual}"]`);
    e.classList = "question";
    if(elemsStruct[phase].next == null){
      alert("Conseguiste la insignia de master en git");
      //mostrar algo y gurdar en base de datos
      return;
    }else{
      alert('Respuesta correcta');
      
      e = document.querySelector(`[id="${elemsStruct[phase].next}"]`);
      e.classList = "question show";
      e = document.querySelector(`[id="question-no"]`);
      e.html = `Question ${elemsStruct[phase].next}`;
    }
    
  }

  function bad_answer(phase){
    alert('Intenta de nuevo')
  }
</script>

